#mainContent{
    margin:0;
    padding: 0; 
}

.topDiv{
    background-color: rgb(252, 239, 216);
    /* background-color:rgb(243, 64, 64); */
    height: 10px;
    width: 100%;
}

.navBarContainer{
    height: 12px;
    width: 100%;
    background-color: rgb(252, 239, 216);
    /* background-color: rgb(243, 64, 64); */
    display: flex;
    justify-content: space-evenly;
    color: red; 
}

.logoBar{
    background-color: rgb(252, 239, 216);
    /* background-color: rgb(243, 64, 64); */
    height: 117px;
    width: 100%;
    font-size: xx-large;
    font-family: "Limelight";  
    color: red;
    display: flex;
    justify-content: center; 
}

#est{
    background-color: rgb(252, 239, 216);
    /* background-color: rgb(243, 64, 64); */
    height:24px;
    width: 100%;
    color: red;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 22px;
}


#mainImage{
    background-image: url("assets/okraStew.jpeg");
    width: 62%;
    height: 600px;
    margin-left: 255px;
    margin-right: 255px;
    margin-bottom: 20px;
}


#aboutButton, #hoursandLocButton, #orderOnlineButton, #menuButton{
    border: none;
    background-color: rgb(252, 239, 216);
    /* background-color: rgb(243, 64, 64); */
    color: red;
    font-size: 2em;
    font-family: "Courier New";
    box-shadow: none;
}


.aboutSectionInfoContainer{
    width: 1000px;
    height: 400px;
    /* background-color: rgb(221, 218, 218); */
    margin-left: 255px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 2.5em;
    font: bold;
    line-height: 0.8cm;
    /* display: flex;
    justify-content: center; */

}

#ghanaFlag{
    background-image: url("assets/ghanaFlag.jpeg");
    height: 170px;
    width: 250px;
    margin-left: 370px;
}

#aboutInfo{
    font-family: "Courier New";
    margin-top: 20px;
    width: 1000px;
    height: 300px;
    /* background-color: rgb(221, 218, 218); */
    border-color: red;
    font-size: .6em;
    line-height: 0.9cm;
    color: red;

}

#akwaaba{
    color: red;

}

 #hoursAndLocTitle{
    width:100%;
    height: 400px;
    color: red;
    font-size: 2.15em;
    font-family: "Limelight";
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.aboutSectionTitle{
    color: red;
    font-size: 27px;
    font-family: "Limelight";
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

}


.fufu{
     background-image: url("assets/rusticJollof.jpeg");
     margin-top: 90px;
     width: 1000px;
    height: 600px;
    border-color: red;
    margin-left: 255px;
    margin-right: 40px;
    margin-bottom: 70px;
    font-size: 30px;
    color: red;
} 

.hoursAndLocContainer{
    background-color: rgb(252, 239, 216);
    display: flex;
    flex-direction: column;
}

.hoursContainer{
    width:100%;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    color: red;
    font-family: "Courier New";
    display: flex;
    justify-content: center;
    

}

.locationsContainer {
    color: red;
    margin-top: 7px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Marcellus SC';
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#viewLoc1Map, #viewLoc2Map{
    background-color: rgb(243, 64, 64);
    color: white;
    font-weight: bolder;
    font-size: 19px;
    font-family: "Courier New";
    box-shadow: none;
    border-radius: 2cm;
}
#hours{
    margin-bottom: 20px;
}

#loc2{
    margin-top: 30px;
}

#bottomBorder{
    height: 40px;
}




/* Media screen for Phone view */
@media only screen and (max-width: 430px){
    #mainContent{
        width: 90%;

    }
    #mainImage{
        width: 62%;
        height: 500px;
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 40px;
        background-position: center;
    }

    .logoBar{
        height: 100px;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: xx-large;
        font-family: "Limelight";
    }

    .navBarContainer{
        height: auto;
        font-size: small;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #aboutButton, #hoursandLocButton, #orderOnlineButton, #menuButton{
        border: none;
        /* background-color: orange; */
        color: red;
        font-size: 1.5em;
        font-family: "Courier New";
    }

    #ghanaFlag{
        margin-left: 50px;

    }

    #aboutInfo{
        width: auto;
        margin-left: 10px;
        margin-bottom: 10px;
        line-height: 1cm;
    }

    .fufu{
        width: 60%;
        height: 500px;
        margin-left: 10px;
        margin-right: 20px;
        background-position: center;

    }

    .aboutSectionInfoContainer{
        width: auto;
        height: 400px;
        margin-left: 10px;
        margin-right: 20px;
        font-size: 25px;
        line-height: .7cm;
    }

    #hoursAndLocTitle{
        font-size: 1.3em;
    }

    #viewLoc1Map, #viewLoc2Map{
        background-color: rgb(243, 64, 64);
        color: white;
        font-size: 15px;
        font-family: "Courier New";
        box-shadow: none;
        border-radius: 5%;
    }

  
    
}









/* media query for tablets */
@media only screen and (max-width: 1024px){
    #mainContent{
        min-width: 430px;
    }
    .topDiv{
        width: auto;
        height: 2em;
    }
    #mainImage{
        width: auto;
        height: 500px;
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
 
    .logoBar{
        font-size: xx-large;
        font-family: "Limelight";  
    }

    .navBarContainer{
        font-size: .9em;
        display: flex;
    }

    #ghanaFlag{
        display: flex;
        align-items: column;
    }

    #aboutInfo{
        width: auto;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
        font-size: .7em;
        line-height: 1.9em;
    }

    .fufu{
        width: auto;
        height: 500px;
        margin-left: 15px;
        margin-right: 20px;
        margin-top: 260px;
    }

    .aboutSectionInfoContainer{
        width: auto;
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 50px;

    } 
    
}
