

.logoBar{
    background-color: red;
    height: 140px;
    width: 1510px;
    font-size: xx-large;
    color: white; 
    display: flex;
    justify-content: center; 
}

.navBarContainer{
    height: 30px;
    width: 1510px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    color: white; 
    margin-top: 0px;
}

#aboutButton, #hoursandLocButton, #orderOnlineButton, #menuButton{
    border: none;
    background-color: red;
    color: white;
    font-size: 35px;
}



#aboutSectionInfo{
    background-color: rgb(221, 218, 218);
    border-color: red;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    color: red;
}

#aboutSectionTitle, #hoursAndLocTitle{
    background-color: white;
    color: red;
    font-size: 25px;
    height: 60px;
    display: flex;
    justify-content: center;
}
.aboutSectionInfo{
    color: tomato;
    margin-left: 60px;
    margin-right: 70px;
    line-height: 1cm;
}

.ghanaFlag{
    display: flex;
    height: 150px;
    width: 100px;
    margin-left: 700px;

}


#mainImage{
    width: 1200px;
    height: 600px;
    margin-top: 20px;
    margin-left: 150px;
    /* display: flex;
    justify-content:space-around; */
    background-image: url("assets/AdobeStock_516417736_Preview.jpeg");
    /* background-image: url ("assets/AdobeStock_516417736_Preview.jpeg") ; */

}
.fufu{
    display: flex;
    justify-content: center;
    margin-left: 500px;
    margin-top: 20px;
    width: 450px;
    height: 450px;
  
}

.hoursContainer{
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    color: tomato;
    display: flex;
    justify-content: center;
    

}

.locationsContainer {
    background-color: white;
    color: tomato;
    margin-top: 7px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}
