.logoBar{
    background-color: red;
    height:125px;
    width: 1510px;
    font-size: xx-large;
    color: white; 
    display: flex;
    justify-content: center;


}

.navBarContainer{
    height: 100px;
    width: 1510px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    color: white; 

}

.aboutContainer, .menuContainer, .orderOnlineContainer {
    color: white;
    margin: 0px;

}

.aboutSectionTitle, .hoursAndLocTitle{
    background-color: white;
    color: red;
    font-size: 25px;
    height: 60px;
    display: flex;
    justify-content: center;
}
.aboutSectionInfo{
    color: tomato;
    margin-left: 60px;
    margin-right: 70px;
    line-height: 1cm;
}

.ghanaFlag{
    display: flex;
    height: 60px;
    width: 20px;
    margin-left: 700px;

}

.mainImage{
    width: 1500px;
    height: 600px;
    margin-top: 20px;
    display: flex;
    justify-content:space-around;

}
.fufu{
    display: flex;
    justify-content: center;
    margin-left: 500px;
    margin-top: 20px;
    width: 450px;
    height: 450px;
  
}

.hoursAndLocContainer{
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    color: tomato;
    display: flex;
    justify-content: space-between;

}
